/public/assets/products/1/catalog/home.png
/public/assets/products/1/index/home.png
/public/assets/products/1/medium/home.png
/public/assets/products/1/original/home.png
/public/assets/products/1/small/home.png
/public/assets/products/10/big/image3.png
/public/assets/products/10/catalog/image3.png
/public/assets/products/10/index/image3.png
/public/assets/products/10/medium/image3.png
/public/assets/products/10/original/image3.png
/public/assets/products/10/small/image3.png
/public/assets/products/11/big/image1.png
/public/assets/products/11/catalog/image1.png
/public/assets/products/11/index/image1.png
/public/assets/products/11/medium/image1.png
/public/assets/products/11/original/image1.png
/public/assets/products/11/small/image1.png
/public/assets/products/12/big/image2.png
/public/assets/products/12/catalog/image2.png
/public/assets/products/12/index/image2.png
/public/assets/products/12/medium/image2.png
/public/assets/products/12/original/image2.png
/public/assets/products/12/small/image2.png
/public/assets/products/13/big/image3.png
/public/assets/products/13/catalog/image3.png
/public/assets/products/13/index/image3.png
/public/assets/products/13/medium/image3.png
/public/assets/products/13/original/image3.png
/public/assets/products/13/small/image3.png
/public/assets/products/14/big/image2.png
/public/assets/products/14/catalog/image2.png
/public/assets/products/14/index/image2.png
/public/assets/products/14/medium/image2.png
/public/assets/products/14/original/image2.png
/public/assets/products/14/small/image2.png
/public/assets/products/15/big/image1.png
/public/assets/products/15/catalog/image1.png
/public/assets/products/15/index/image1.png
/public/assets/products/15/medium/image1.png
/public/assets/products/15/original/image1.png
/public/assets/products/15/small/image1.png
/public/assets/products/2/big/image1.png
/public/assets/products/2/catalog/image1.png
/public/assets/products/2/index/image1.png
/public/assets/products/2/medium/image1.png
/public/assets/products/2/original/image1.png
/public/assets/products/2/small/image1.png
/public/assets/products/3/big/image3.png
/public/assets/products/3/catalog/image3.png
/public/assets/products/3/index/image3.png
/public/assets/products/3/medium/image3.png
/public/assets/products/3/original/image3.png
/public/assets/products/3/small/image3.png
/public/assets/products/4/big/image2.png
/public/assets/products/4/catalog/image2.png
/public/assets/products/4/index/image2.png
/public/assets/products/4/medium/image2.png
/public/assets/products/4/original/image2.png
/public/assets/products/4/small/image2.png
/public/assets/products/5/big/image3.png
/public/assets/products/5/catalog/image3.png
/public/assets/products/5/index/image3.png
/public/assets/products/5/medium/image3.png
/public/assets/products/5/original/image3.png
/public/assets/products/5/small/image3.png
/public/assets/products/6/big/image3.png
/public/assets/products/6/catalog/image3.png
/public/assets/products/6/index/image3.png
/public/assets/products/6/medium/image3.png
/public/assets/products/6/original/image3.png
/public/assets/products/6/small/image3.png
/public/assets/products/7/big/image2.png
/public/assets/products/7/catalog/image2.png
/public/assets/products/7/index/image2.png
/public/assets/products/7/medium/image2.png
/public/assets/products/7/original/image2.png
/public/assets/products/7/small/image2.png
/public/assets/products/8/big/image3.png
/public/assets/products/8/catalog/image3.png
/public/assets/products/8/index/image3.png
/public/assets/products/8/medium/image3.png
/public/assets/products/8/original/image3.png
/public/assets/products/8/small/image3.png
/public/assets/products/9/big/image1.png
/public/assets/products/9/catalog/image1.png
/public/assets/products/9/index/image1.png
/public/assets/products/9/medium/image1.png
/public/assets/products/9/original/image1.png
/public/assets/products/9/small/image1.png
/public/assets/products/1/big/home.png
# See http://help.github.com/ignore-files/ for more about ignoring files.
#
# If you find yourself ignoring temporary files generated by your text editor
# or operating system, you probably want to add a global ignore instead:
#   git config --global core.excludesfile ~/.gitignore_global

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore content files
public/assets/

# Ignore DB settings
config/database.yml
