<% if user_signed_in? %>
	<ul>
		<li><span class="list">Привет, <%= current_user.username %></span></li>
		<li class="bottom">
			<a href="/admin/logout">
				<span class="glyph quit"></span>
				Выход
			</a>
		</li>
	</ul>

<% else %>
	А нука сука залогинься
<% end %>