<% if user_signed_in? %>
	<ul>
		<li><span class="list">Привет, <%= current_user.username %></span></li>
		<li class="bottom">
			<%= link_to "Sign out", destroy_user_session_path %>
			<br>
			<br>
		</li>
	</ul>

<% else %>
	А нука-ка залогинься
<% end %>