<div id="header">
	<div class="left"><img src="/assets/logo.png" alt=""></div>
	<div class="right">
		<ul>
			<li>Телефон: <%= contacts.phone1 %></li>
			<li>e-mail: <%= contacts.email1 %></li>
			<li>skype: <%= contacts.skype %></li>
		</ul>
	</div>
</div>