<ul>
	<li><%= link_to "Главная", main_path %></li>
	<li><%= link_to "Каталог", catalog_path %></li>
	<li><%= link_to "О нас", about_path %></li>
	<li><%= link_to "Контакты", contacts_main_path %></li>
</ul>
