<h2>Позвонить</h2>

<% unless @contacts.phone1.empty? %>
<p><%= @contacts.phone1 %></p>
<% end %>

<% unless @contacts.phone2.empty? %>
<p><%= @contacts.phone2 %></p>
<% end %>

<br>
<br>

<h2>Наши друзья</h2>

<% @friends.each do |friend| %>
	<p><strong>
	<%= show_title(friend) %>
	</strong>
	<br>
	<%= show_desc(friend) %>
	</p>
<% end %>


