<h2>Мы в соцсетях</h2>

<div>
	<script type="text/javascript" src="//vk.com/js/api/openapi.js?95"></script>

    <!-- VK Widget -->
    <div id="vk_subscribe"></div>
	<script type="text/javascript">
	VK.Widgets.Subscribe("vk_subscribe", {mode: 0}, 181376562);
	</script>

</div>