<div id="contacts">
	<div id="contacts-content"><%= render "left" %></div>
	<div id="contacts-content" class="contacts-center"><%= render "center" %></div>
	<div id="contacts-content"><%= render "right" %></div>
</div>