<div><%= "#{@about.aboutus}" unless @about.aboutus.empty? %></div>
<div style="margin-top: 20px;"><iframe width="480" height="360" src="//www.youtube.com/embed/Z4SR76YZUQQ" frameborder="0" allowfullscreen></iframe></div>