    <h2>Похожие товары</h2>
    <% @similar_items.each_with_index do |item, index| %>
      <div id="cat_item">
        <div class="image"><%= link_to (image_tag item.picture1.url(:catalog), class: "image round"), "#{catalog_path}/item/#{item.id}" %></div>
        <div class="desc"><% if item.title && !item.title.empty? %><%= item.title %><% end %></div>
        <div class="price"><% unless item.price.nil? %><%= item.price %> руб.<% end %></div>
        <div class="moredetails"><%= link_to "Детали >>", "#{catalog_path}/item/#{item.id}" %></div>
      </div>
    <% end %>
 