<div id="breadcrumb"><%= render_breadcrumbs %></div>

<div id="item-images"><%= render "images" %></div>
<div id="item-content"><%= render "content" %></div>
<div id="last_updates"><%= render "similar_goods" %></div>