<html>
<head>
	<title>Логин в админочку!!!!</title>
	<%= stylesheet_link_tag 'reset.css' %>
	<%= stylesheet_link_tag 'admin.css' %>
</head>
<body id="login">
	<div id="login-container">
		<div id="login-form">
			<%= yield %>
		</div>
	</div>
</body>
</html>